*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    text-decoration: none;
    color: #fff;
    background: #1B98F5;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.badge {
    background: #333;
    padding: 5px 12px;
    border-radius: 10rem;
    position: absolute;
    top: 26.5rem;
    right: 54.5rem;
}